// color pallate
// #637c67 - Army Light Green
// #1e3230 - Dark Green
// #6e130e - Dark red
// #ff9100 - Orange
// #f5ce97 - Tan/Light orange
// #fff3d1 - Cream
// #ffffff - White
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300;400&display=swap");

body {
  background-color: rgb(194, 157, 210);
  cursor: url("./assets/cookie.png"), auto;
}

#root {
  display: flex;
  font: 1rem "Roboto Mono", monospace;
  font-weight: 500;
  flex-direction: column;
  height: 100%;
}

.banner > img {
  border-radius: 30px;
  display: flex;
  margin: auto;
  width: 60%;
}

.textboxHolder {
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.textbox {
  width: 40%;
  font-size: 20px;
  padding: 10px;
}

.choices,
.startbtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  font: 1rem "Roboto Mono", monospace;
}


.choiceButton {
  font: 1rem "Roboto Mono", monospace;
  line-height: 1;
  font-weight: bolder;
  border-color: #ffffff00;
  border-radius: 40px;
  width: 9rem;
  height: 3rem;
  background-color: #eec50f;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 145, 0, 0.744);
  }
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  gap: 10px;
}

.spinner {
  width: 3em;
}

.roomimages {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2em;
}

.rooms {
  width: 60%;
  border-radius: 30px;
}

area:hover {
  cursor: url("./assets/cookie.png"), pointer;
}
// https://custom-cursor.com/en/collection/cute-cursors/cute-milk-and-cookie

.sprite {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 45%;
  height: 50%;
  // animation: sprite-move 5s linear infinite;
  // animation: walk .5s alternate infinite;

  transform-origin: center;
}
.sprite2 {
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 60%;
  height: 20%;
  // animation: sprite-move 5s linear infinite;
  // animation: walk .5s alternate infinite;

  transform-origin: center;
}

@keyframes sprite-move {
  0% {
    bottom: 0;
    transform: scale(1);
  }
  50% {
    bottom: 15%;
    left: 55%;
    transform: scale(0.6);
  }
  100% {
    bottom: 15%;
    left: 55%;
    transform: scale(0.6);
  }
}

@keyframes walk {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .rooms {
    width: 90%;
    height: 50vh;
  }
  .textbox {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .rooms {
    width: 99%;
    height: 40vh;
  }
  .textbox {
    width: 90%;
  }
}

