// color pallate
// #637c67 - Army Light Green
// #1e3230 - Dark Green
// #6e130e - Dark red
// #ff9100 - Orange
// #f5ce97 - Tan/Light orange
// #fff3d1 - Cream
// #ffffff - White

body {
  background-color: rgb(194, 157, 210);
  cursor: url("./assets/cookie.png"), auto;
}
#root {
  display: flex;
  font: 0.9rem sans-serif;
  flex-direction: column;
  height: 100%;
}

.banner > img {
  border-radius: 30px;
  display: flex;
  margin: auto;
  width: 60%;
}

.textboxHolder {
  display: flex;
  justify-content: center;
}

.textbox {
  width: 40%;
  font-size: 20px;
  padding: 10px;
}

.choices,
.startbtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.choiceButton {
  border-color: #ffffff00;
  border-radius: 40px;
  width: 7rem;
  height: 2rem;
  font-size: 15px;
  background-color: #eec50f;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 145, 0, 0.744);
  }
}

.roomimages {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2em;
}

.rooms {
  width: 60%;
  border-radius: 30px;
}

area:hover {
  cursor: url("./assets/cookie.png"), pointer;
}
// https://custom-cursor.com/en/collection/cute-cursors/cute-milk-and-cookie

.sprite {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 45%;
  height: 60%;
  // animation: sprite-move 5s linear infinite; 
  // animation: walk .5s alternate infinite;

  transform-origin: center;
}

@keyframes sprite-move {
  0% {
    bottom: 0;
    transform: scale(1);
  }
  50% {
    bottom: 15%;
    left:55%;
    transform: scale(0.6);
  }
  100% {
    bottom: 15%;
    left:55%;
    transform: scale(0.6);
  }
}

@keyframes walk {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .rooms {
    width: 90%;
      height: 50vh;
  }
  .textbox {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .rooms {
    width: 99%;
    height: 40vh;
  }
  .textbox {
    width: 90%;
  }
}


